* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 550px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
  height: 55px;
}

.nav > img {
  width: 24px;
  margin-right: 7px;
}

.nav > h1 {
  color: #fff;
  font-size: 14.4608px;
  font-weight: 500;
}

.app--card {
  margin-top: 45px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}

.card--location {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.card--location > img {
  width: 7px;
  margin-right: 4px;
}

.card--location > h2 {
  color: #2b283a;
  font-size: 10.24px;
  letter-spacing: 0.17em;
  margin-right: 12px;
}

.card--location > a {
  color: #918e9b;
  font-size: 10.24px;
}

.card--right > img {
  height: 168px;
  width: 125px;
}

.card--left {
  max-width: 326px;
  margin-left: 19px;
}

.card--title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 7px;
}

.card--date {
  font-size: 10.24px;
  font-weight: bold;
  margin-bottom: 9px;
}

.card--desc {
  font-size: 10.24px;
  line-height: 150%;
}

.card--container {
  margin-top: 18px;
}

.card--container > hr {
  width: 478px;
  margin: 0 auto;
}
